@import "tailwindcss";

@font-face {
  font-family: "CalSans";
  src: url("/fonts/Cal_Sans/CalSans-Regular.ttf") format("truetype");
}

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-cal-sans: "CalSans", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

html,
body {
  @apply bg-[#2D2E32] select-none;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

@theme {
  --color-active: rgb(37, 137, 255);
  --color-active-hover: rgba(10, 107, 255, 0.85);
}
